---
import Base from "@/layouts/Base.astro";
import Body from "@/layouts/Body.astro";
import Head from "@/layouts/Head.astro";
import Landing from "@/layouts/home/Landing.astro";
---

<Base>
  <Head title="Comtelec">
    <style>
      #app {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: auto 1fr auto;
      }
    </style>
  </Head>
  <Body>
    <Landing />
  </Body>
</Base>
