---
type Props = {
  title: string;
  content: string;
};

const { title, content } = Astro.props;
---

<div
  class="w-full px-8 py-6 hover:bg-gradient-to-br hover:gradient-light [&>h2]:hover:text-matisse-25 [&>p]:hover:text-matisse-100 rounded-2xl shadow-xl"
>
  <h2
    class="text-lg sm:text-xl text-gray-900 dark:text-matisse-400 font-medium title-font mb-2"
  >
    {title}
  </h2>
  <p class="leading-relaxed text-base mb-4">
    {content}
  </p>
  <a class="text-matisse-500 inline-flex items-center"
    >Conoce más
    <svg
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      class="w-4 h-4 ml-2"
      viewBox="0 0 24 24"
    >
      <path d="M5 12h14M12 5l7 7-7 7"></path>
    </svg>
  </a>
</div>

<script></script>
