<div
  id="menu_overlay"
  class="fixed lg:hidden w-full h-[100dvh] inset-0 overflow-hidden bg-[hsl(208.24deg_12.59%_73.53%/50%)] dark:bg-[rgba(0,4,11,0.7)] backdrop-grayscale-[0.5] backdrop-blur-md opacity-0 duration-300 z-10 invisible
[will-change:opacity]"
>
</div>
