---
type Props = {};

const {} = Astro.props;
---

<div class="logo powtech">
  <svg
    width="276"
    height="138"
    viewBox="0 0 276 138"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="logoFillBlack blue"
      d="M69.8624 63.4329C70.7387 62.2252 71.2355 60.784 71.2894 59.2929V44.599C71.2895 44.2998 71.23 44.0036 71.1146 43.7275C70.9992 43.4515 70.83 43.2011 70.617 42.991C70.404 42.7809 70.1513 42.6153 69.8737 42.5036C69.5961 42.392 69.2991 42.3367 68.9999 42.3408H20.1981C19.8929 42.3345 19.5895 42.3897 19.3061 42.5031C19.0227 42.6165 18.765 42.7858 18.5484 43.0009C18.3318 43.216 18.1608 43.4725 18.0455 43.7552C17.9301 44.0378 17.8729 44.3408 17.8772 44.646V61.5667L35.1272 83.5213C36.0116 84.7258 36.5142 86.168 36.5699 87.6613V95.659H52.5654V87.6456C52.6174 86.1541 53.1144 84.7123 53.9924 83.5056L69.8624 63.4329Z"
    ></path>
    <path
      class="logoFillWhite red"
      d="M46.1982 79.5069C46.1982 78.6384 46.4558 77.7895 46.9382 77.0674C47.4207 76.3453 48.1065 75.7825 48.9088 75.4502C49.7112 75.1179 50.594 75.0309 51.4458 75.2003C52.2975 75.3698 53.0799 75.788 53.694 76.402C54.3081 77.0161 54.7263 77.7985 54.8957 78.6503C55.0651 79.502 54.9782 80.3849 54.6458 81.1872C54.3135 81.9895 53.7507 82.6753 53.0286 83.1578C52.3065 83.6403 51.4576 83.8978 50.5892 83.8978C49.4271 83.8896 48.3151 83.4243 47.4934 82.6026C46.6717 81.781 46.2065 80.6689 46.1982 79.5069Z"
    ></path>
    <path
      class="logoFillBlack blue"
      d="M258.123 79.9772V58.0226H249.749V65.5499H244.166V58.0226H235.777V79.9772H244.166V72.1363H249.749V79.9772H258.123ZM233.032 79.491L232.828 73.8769C231.442 74.4116 229.971 74.6931 228.485 74.7081C224.972 74.7081 222.62 72.7949 222.62 69.0783C222.62 65.3617 225.254 63.4642 228.673 63.4642C230.075 63.5035 231.463 63.7682 232.781 64.2483L232.985 58.5088C231.003 58.1011 228.987 57.8754 226.963 57.8344C220.22 57.8344 213.885 61.7392 213.885 69.1253C213.885 76.9663 219.671 80.4163 226.963 80.4163C228.992 80.3256 231.003 79.994 232.954 79.4283L233.032 79.491ZM212.442 79.9772V74.6453H201.465V71.6188H211.846V66.3497H201.512V63.3544H212.238V58.0226H193.295V79.9772H212.442ZM191.742 64.5776V58.0226H168.564V64.4835H175.982V79.9772H184.356V64.5149L191.742 64.5776ZM168.078 58.0226H160.614L157.869 72.3872L154.435 58.0226H146.375L142.83 72.3872L140.149 58.0226H132.308L137.561 79.9772H146.625L150.091 65.5342L153.761 79.9772H162.809L168.078 58.0226ZM123.479 68.9999C123.479 71.4306 123.244 75.0217 120.045 75.0217C116.846 75.0217 116.658 71.2894 116.658 68.9999C116.658 66.7103 116.971 62.9781 120.045 62.9781C123.118 62.9781 123.479 66.6319 123.479 68.9999ZM132.214 68.9999C132.214 61.159 127.509 57.709 120.013 57.709C112.517 57.709 107.876 61.3785 107.876 68.9999C107.876 76.6213 112.58 80.2908 120.013 80.2908C127.447 80.2908 132.214 76.7153 132.214 68.9999ZM98.7018 65.7538C98.7018 68.2158 96.5848 68.5451 94.6402 68.5451H92.8839V63.1506H94.6402C96.428 63.1506 98.7018 63.4015 98.7018 65.7538ZM107.076 65.7538C107.076 60.9238 103.689 58.0854 99.0625 58.0854H84.7764V79.9772H92.9623V73.7044H99.0625C104.096 73.6103 107.076 70.7719 107.076 65.7538Z"
    ></path>
  </svg>
</div>
