---
type Props = {};

const {} = Astro.props;
---

<div class="logo voltamachine">
  <svg
    width="276"
    height="138"
    class="logoFillBlack"
    viewBox="0 0 276 138"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g class="green">
      <path
        d="M138.879 68.012H139.38C139.647 68.012 139.914 68.0904 139.914 68.3884C139.914 68.6863 139.71 68.7961 139.38 68.7961H138.879V68.012ZM138.455 70.2702H138.879V69.1254H139.239L139.961 70.2702H140.4L139.663 69.1254C139.756 69.1281 139.849 69.1108 139.935 69.0749C140.021 69.0389 140.099 68.985 140.162 68.9168C140.226 68.8486 140.275 68.7676 140.305 68.6792C140.335 68.5908 140.346 68.497 140.337 68.404C140.337 67.9179 140.039 67.6827 139.443 67.6827H138.455V70.2702ZM137.514 68.9843C137.53 68.6344 137.647 68.2968 137.853 68.0133C138.058 67.7298 138.343 67.5129 138.67 67.3896C138.998 67.2662 139.355 67.2418 139.696 67.3194C140.038 67.397 140.349 67.5731 140.591 67.826C140.833 68.0788 140.996 68.3973 141.059 68.7417C141.122 69.0862 141.082 69.4416 140.945 69.7637C140.807 70.0858 140.579 70.3605 140.287 70.5537C139.994 70.7469 139.652 70.8501 139.302 70.8504C139.062 70.8484 138.826 70.7987 138.606 70.7042C138.386 70.6097 138.186 70.4724 138.02 70.3001C137.854 70.1278 137.723 69.9241 137.636 69.7009C137.549 69.4777 137.508 69.2394 137.514 69M137.091 69C137.091 69.4373 137.221 69.8648 137.463 70.2284C137.706 70.592 138.052 70.8754 138.456 71.0428C138.86 71.2101 139.304 71.2539 139.733 71.1686C140.162 71.0833 140.556 70.8727 140.865 70.5635C141.175 70.2542 141.385 69.8602 141.471 69.4313C141.556 69.0024 141.512 68.5578 141.345 68.1538C141.177 67.7498 140.894 67.4044 140.53 67.1615C140.167 66.9185 139.739 66.7888 139.302 66.7888C138.716 66.7888 138.153 67.0218 137.738 67.4364C137.324 67.8511 137.091 68.4135 137.091 69Z"
      ></path>
      <path
        d="M27.1299 68.8902C27.1225 66.5061 27.6589 64.1516 28.6981 62.0059H39.5813C40.2596 62.0013 40.9325 61.8847 41.5729 61.6609C41.9082 61.5746 42.2213 61.4182 42.4917 61.2019C42.762 60.9857 42.9833 60.7145 43.1411 60.4063C43.2195 60.2652 43.2822 60.1084 43.3606 59.9829C43.6586 59.4497 44.0977 59.0107 45.9324 59.0107H55.3415C57.0622 61.1627 58.1911 63.7268 58.6164 66.4492C59.0417 69.1716 58.7488 71.9578 57.7666 74.5322C56.7844 77.1066 55.1469 79.3798 53.0163 81.127C50.8856 82.8741 48.3357 84.0346 45.6188 84.4936L51.4368 66.5066H46.3872L42.702 80.2909L39.0638 66.5066H34.0456L39.6597 84.3681C36.1114 83.6169 32.9288 81.6693 30.645 78.8517C28.3612 76.034 27.1147 72.5172 27.1143 68.8902M44.474 62.1313C44.474 62.4074 44.5559 62.6772 44.7092 62.9067C44.8626 63.1362 45.0806 63.3151 45.3356 63.4208C45.5906 63.5264 45.8713 63.554 46.142 63.5002C46.4127 63.4463 46.6614 63.3134 46.8566 63.1182C47.0518 62.923 47.1847 62.6743 47.2386 62.4036C47.2924 62.1329 47.2648 61.8523 47.1592 61.5972C47.0535 61.3422 46.8746 61.1242 46.6451 60.9709C46.4156 60.8175 46.1458 60.7356 45.8697 60.7356C45.4996 60.7356 45.1446 60.8827 44.8828 61.1444C44.6211 61.4062 44.474 61.7612 44.474 62.1313ZM29.5136 60.5631C30.7634 58.5591 32.446 56.8602 34.438 55.5912C36.43 54.3222 38.6808 53.5152 41.0253 53.2295C43.3699 52.9438 45.7486 53.1865 47.9871 53.94C50.2255 54.6934 52.2669 55.9384 53.9615 57.5836H45.9011C43.3293 57.5836 42.7647 58.3363 42.2629 59.1518L41.9336 59.7006C41.8069 59.8798 41.6535 60.0384 41.4788 60.1711C40.9107 60.5206 40.2461 60.6799 39.5813 60.6259L29.5136 60.5631ZM35.7863 65.7538C35.7863 66.0299 35.8682 66.2997 36.0215 66.5292C36.1749 66.7587 36.3929 66.9376 36.6479 67.0433C36.9029 67.1489 37.1835 67.1765 37.4543 67.1227C37.725 67.0688 37.9737 66.9359 38.1689 66.7407C38.3641 66.5455 38.497 66.2969 38.5508 66.0261C38.6047 65.7554 38.5771 65.4748 38.4714 65.2197C38.3658 64.9647 38.1869 64.7467 37.9574 64.5934C37.7279 64.44 37.458 64.3582 37.182 64.3582C36.8118 64.3582 36.4568 64.5052 36.1951 64.7669C35.9333 65.0287 35.7863 65.3837 35.7863 65.7538Z"
      ></path>
      <path
        d="M79.2875 66.836H74.5046L71.0389 79.9774L67.5262 66.836H62.7275L68.2789 84.4937H73.5637L79.2875 66.836ZM78.9112 75.6649C78.9112 80.7928 82.0475 84.8701 87.6146 84.8701C93.1816 84.8701 96.318 80.7928 96.318 75.6649C96.318 70.5369 93.1816 66.4753 87.6146 66.4753C82.0475 66.4753 78.9112 70.5526 78.9112 75.6649ZM83.5216 75.6649C83.5216 73.046 84.6507 70.4272 87.6146 70.4272C90.5784 70.4272 91.7232 73.046 91.7232 75.6649C91.7232 78.2837 90.5784 80.9183 87.6146 80.9183C84.6507 80.9183 83.5216 78.2837 83.5216 75.6649ZM98.7957 84.4937H109.773V80.5419H103.5V66.836H98.7957V84.4937ZM121.973 66.836H108.315V70.8035H112.909V84.4937H117.504V70.8035H122.036L121.973 66.836ZM129.532 71.7288L131.524 77.9231H127.525L129.532 71.7288ZM120.64 84.4937H125.345L126.458 81.3574H132.621L133.703 84.4937H138.502L131.9 66.836H127.195L120.64 84.4937Z"
      ></path>
    </g>
    <g class="blackStroke">
      <path
        d="M179.008 84.9484C175.542 84.9484 173.739 82.7843 174.444 79.4598C175.511 74.4259 175.526 66.3655 182.771 66.3655C185.908 66.3655 188.119 68.1846 187.335 71.8541L186.911 73.7987H181.987C182.191 72.8264 182.473 71.8698 182.583 70.8818C182.583 70.4741 182.583 70.3016 182.113 70.3016C181.344 70.3016 181.187 70.9132 181.062 71.5091C180.287 74.4282 179.664 77.3856 179.196 80.3693C179.196 80.7457 179.196 81.0123 179.651 81.0123C180.388 81.0123 180.592 80.3693 180.701 79.7891L181.313 76.935H186.253L185.672 79.6323C185.384 81.1705 184.552 82.5537 183.329 83.5297C182.105 84.5056 180.572 85.0091 179.008 84.9484Z"
      ></path>
      <path
        d="M192.354 84.9484C188.904 84.9484 187.084 82.7843 187.79 79.4598C188.872 74.4259 188.888 66.3655 196.117 66.3655C199.348 66.3655 201.465 68.1846 200.681 71.8541L200.273 73.7987H195.333C195.537 72.8264 195.835 71.8698 195.945 70.8818C195.945 70.4741 195.945 70.3016 195.474 70.3016C194.69 70.3016 194.549 70.9132 194.424 71.5091C193.649 74.4282 193.026 77.3856 192.557 80.3693C192.557 80.7457 192.557 81.0123 193.012 81.0123C193.734 81.0123 193.937 80.3693 194.063 79.7891L194.674 76.935H199.599L199.034 79.6323C198.745 81.1733 197.911 82.5587 196.684 83.5349C195.457 84.5112 193.92 85.013 192.354 84.9484Z"
      ></path>
      <path
        d="M204.977 84.6661H200.037L203.863 66.6477H208.803L207.439 73.0616H208.85L210.215 66.6477H215.139L211.312 84.6661H206.373L207.925 77.3741H206.529L204.977 84.6661Z"
      ></path>
      <path d="M218.463 84.6661H213.523L217.35 66.6477H222.29L218.463 84.6661Z"
      ></path>
      <path
        d="M230.366 74.8963L232.091 66.6477H236.89L233.095 84.6818H227.951C227.951 84.6818 227.418 79.0834 227.261 76.0254L225.427 84.6818H220.628L224.454 66.6634H229.614C229.614 66.6634 230.178 71.9952 230.366 74.912"
      ></path>
      <path
        d="M245.233 84.6661H235.181L239.023 66.6477H248.871L247.977 70.8347H243.069L242.535 73.3595H246.832L245.938 77.5466H241.642L241.014 80.4634H246.127L245.233 84.6661Z"
      ></path>
      <path
        d="M152.977 72.4499L154.984 66.6633H162.166L158.34 84.6504H153.572L155.423 75.9313L152.098 84.6504H148.742L149.119 75.7588L147.237 84.6504H142.47L146.296 66.6633H153.431L152.977 72.4499Z"
      ></path>
      <path
        d="M168.141 77.6877L168.564 73.4849L167.153 77.6877H168.141ZM164.738 84.6817H159.735L166.965 66.6633H173.049L172.673 84.6817H167.529L167.811 81.6395H165.789L164.738 84.6817Z"
      ></path>
      <path
        d="M146.546 83.7879L149.369 70.4897H150.2L149.635 83.7879H151.517L156.598 70.4897H157.461L154.622 83.7879H157.649L161.099 67.5259H155.595L152.662 76.0097H151.847L152.505 67.5259H146.985L143.52 83.7879H146.546Z"
        fill="#2E2A2B"></path>
      <path
        d="M164.095 83.7724L165.161 80.7302H168.784L168.517 83.7724H171.795L172.14 67.5417H167.576L161.053 83.7724H164.095ZM168.956 78.5818H165.914L168.925 69.6117H169.835L168.956 78.5818Z"
        fill="#2E2A2B"></path>
      <path
        d="M179.008 84.0545C180.365 84.1186 181.699 83.6883 182.763 82.8433C183.828 81.9984 184.549 80.7962 184.794 79.4598L185.155 77.8916H182.019C181.736 79.2245 181.658 81.9689 179.635 81.9689C178.255 81.9689 178.161 80.8398 178.38 79.8518C178.881 76.8045 179.535 73.7846 180.341 70.8034C180.431 70.3999 180.659 70.0403 180.985 69.7858C181.311 69.5313 181.715 69.3977 182.128 69.4077C184.23 69.4077 183.336 71.8071 183.101 72.9048H186.237C186.896 69.8625 186.88 67.2593 182.818 67.2593C181.455 67.1741 180.108 67.5962 179.036 68.4445C177.965 69.2927 177.246 70.5072 177.016 71.8541L175.448 79.695C174.852 82.455 176.216 84.1173 179.133 84.1173"
        fill="#2E2A2B"></path>
      <path
        d="M192.354 84.0546C193.713 84.1192 195.049 83.6894 196.116 82.8447C197.183 82 197.907 80.7976 198.156 79.4598L198.501 77.8916H195.364C195.082 79.2246 194.988 81.9689 192.981 81.9689C191.585 81.9689 191.507 80.8398 191.711 79.8519C192.354 76.8566 192.714 73.783 193.639 70.8662C193.73 70.46 193.96 70.0983 194.29 69.8435C194.619 69.5887 195.027 69.4568 195.443 69.4705C197.544 69.4705 196.65 71.8698 196.415 72.9675H199.551C200.194 69.9253 200.194 67.3221 196.117 67.3221C194.756 67.2409 193.413 67.6648 192.345 68.5127C191.277 69.3606 190.56 70.5728 190.331 71.9169L188.668 79.7578C188.088 82.5178 189.437 84.1801 192.354 84.1801"
        fill="#2E2A2B"></path>
      <path
        d="M204.255 83.7722L205.808 76.4801H209.038L207.486 83.7722H210.591L214.041 67.5415H210.936L209.572 73.9554H206.341L207.705 67.5415H204.6L201.15 83.7722H204.255Z"
        fill="#2E2A2B"></path>
      <path
        d="M217.742 83.7722L221.192 67.5415H218.071L214.637 83.7722H217.742Z"
        fill="#2E2A2B"></path>
      <path
        d="M224.705 83.7722L226.948 73.187H227.763L228.767 83.7722H232.374L235.824 67.5415H232.844L230.696 77.6406H229.896L228.798 67.5415H225.176L221.726 83.7722H224.705Z"
        fill="#2E2A2B"></path>
      <path
        d="M244.511 83.7722L245.029 81.3572H239.916L240.904 76.6526H245.217L245.734 74.2533H241.422L242.331 69.9408H247.256L247.773 67.5415H239.744L236.294 83.7722H244.511Z"
        fill="#2E2A2B"></path>
    </g>
  </svg>
</div>
