---
type Props = {};

const {} = Astro.props;
---

<div class="logo koc">
  <svg
    width="276"
    height="138"
    viewBox="0 0 276 138"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g class="logoFillBlack">
      <path
        class="blue"
        d="M110.228 100.646C110.228 101.963 109.899 102.339 108.55 102.339C86.8149 102.339 65.0852 102.339 43.3606 102.339C43.3684 102.267 43.3684 102.193 43.3606 102.12C43.325 102.2 43.2774 102.274 43.2195 102.339H42.749C42.749 80.5731 42.749 58.812 42.749 37.0561C42.749 35.8642 43.0156 35.5977 44.2074 35.5977C66.2247 35.5977 88.242 35.5977 110.259 35.5977C110.251 35.7335 110.251 35.8696 110.259 36.0054C110.217 57.5627 110.207 79.1095 110.228 100.646Z"
      ></path>
      <path
        d="M129.453 70.3172C129.453 76.1509 129.453 81.467 129.453 86.7831C129.453 88.2102 129.202 88.8375 127.618 88.6806C126.034 88.5238 123.337 89.2766 122.302 88.3513C121.267 87.4261 121.957 84.7916 121.941 82.9097C121.941 71.807 121.941 60.6886 121.941 49.5859C121.941 48.1588 122.255 47.6727 123.698 47.8295C125.021 47.9785 126.357 47.9785 127.681 47.8295C129.249 47.6413 129.531 48.3313 129.5 49.7427C129.5 54.4472 129.5 59.2616 129.5 64.0131C129.386 64.702 129.491 65.4092 129.798 66.0361L138.36 55.7645C140.258 53.475 142.187 51.1854 144.053 48.8645C144.277 48.5295 144.584 48.2581 144.944 48.0767C145.304 47.8953 145.704 47.8102 146.107 47.8295C148.71 47.9079 151.313 47.8295 153.948 47.8295C154.136 48.5666 153.509 48.8488 153.18 49.2409C148.302 55.0745 143.441 60.9081 138.454 66.6634C137.466 67.8238 137.639 68.4354 138.564 69.4547C144.257 75.7275 149.902 82.0002 155.814 88.6179C152.537 88.6179 149.541 88.6179 146.625 88.6179C145.84 88.6179 145.558 88.0377 145.15 87.5829L130.723 71.6502C130.441 71.3366 130.159 71.0229 129.453 70.3172Z"
      ></path>
      <path
        d="M232.89 54.7296C230.009 54.0597 227.066 53.6918 224.109 53.6319C220.678 53.4723 217.321 54.6637 214.759 56.9504C212.197 59.2372 210.633 62.4371 210.403 65.8637C210.095 68.1887 210.19 70.5495 210.685 72.8421C211.177 75.7193 212.699 78.3192 214.967 80.1572C217.235 81.9951 220.094 82.9456 223.011 82.8314C226.057 82.9321 229.104 82.6369 232.075 81.9532C233.016 81.7337 233.408 81.8278 233.282 82.8314C233.275 82.962 233.275 83.0929 233.282 83.2234C233.376 88.3671 233.376 88.3984 228.249 89.1041C224.414 89.696 220.501 89.547 216.722 88.665C213.338 88.0002 210.23 86.3359 207.801 83.8871C205.372 81.4383 203.733 78.3176 203.095 74.9278C201.983 70.2607 202.178 65.3775 203.659 60.8141C204.867 56.8728 207.294 53.4163 210.591 50.9421C213.888 48.4679 217.885 47.1036 222.007 47.0455C225.118 46.8982 228.234 47.1618 231.275 47.8296C232.42 48.0962 233.031 48.5039 232.922 49.8369C232.796 51.4521 232.89 53.0359 232.89 54.7296Z"
      ></path>
      <path
        d="M196.383 65.0482C195.552 57.6307 192.416 51.5619 185.186 48.7235C177.675 45.7596 170.195 46.1516 163.64 51.358C161.417 53.1953 159.636 55.5099 158.431 58.1298C157.226 60.7497 156.626 63.6075 156.677 66.491C156.677 73.4694 157.727 78.3151 160.958 82.4237C165.992 88.6964 172.86 90.2646 180.435 89.1355C188.464 87.9594 193.482 83.1921 195.662 75.3982C196.566 72.0268 196.811 68.5125 196.383 65.0482ZM187.319 76.0255C186.558 78.0286 185.211 79.7564 183.455 80.9841C181.699 82.2119 179.614 82.8829 177.471 82.9098C175.21 83.1811 172.921 82.7428 170.921 81.6554C168.92 80.5681 167.307 78.8856 166.305 76.841C163.169 70.8976 164.141 61.1591 168.297 56.9564C169.638 55.6666 171.264 54.7108 173.043 54.1667C174.822 53.6226 176.704 53.5054 178.537 53.8246C180.37 54.1438 182.102 54.8905 183.592 56.0041C185.082 57.1176 186.289 58.5667 187.115 60.2339C188.224 62.6955 188.76 65.3763 188.683 68.0748C188.776 70.7649 188.312 73.4451 187.319 75.9471V76.0255Z"
      ></path>
    </g>
    <g class="logoFillWhite white">
      <path
        d="M83.8975 40.2083C91.476 42.1089 98.0105 46.8986 102.104 53.5535C103.343 55.6105 104.338 57.8051 105.068 60.0928C105.46 61.2062 105.178 61.661 104.002 61.5355C101.963 61.5355 99.94 61.5355 97.9014 61.5355C96.788 61.5355 96.3332 61.7708 96.3332 62.9939C96.4116 67.0555 96.3332 71.1171 96.3332 75.1944C96.3332 76.3078 96.7253 76.5901 97.776 76.5587C99.8616 76.5587 101.963 76.5587 104.049 76.5587C105.131 76.5587 105.397 76.9194 105.052 77.9073C103.578 82.6018 100.96 86.8563 97.4349 90.2888C93.9094 93.7213 89.5863 96.2241 84.8541 97.5723C83.9916 97.8389 83.8819 97.5723 83.8975 96.8039C83.8975 94.7183 83.8975 92.6169 83.8975 90.5312C83.8975 89.5276 83.7407 89.0414 82.5646 89.0571C78.3776 89.0571 74.1905 89.0571 70.0191 89.0571C69.0312 89.0571 68.6862 89.3551 68.7019 90.3587C68.7019 92.3973 68.7019 94.4203 68.7019 96.4589C68.7019 97.4783 68.3412 97.6664 67.4787 97.3528C62.8551 95.9081 58.6534 93.3578 55.2377 89.923C51.822 86.4882 49.2953 82.2724 47.8764 77.6408C47.5157 76.5744 47.9862 76.4646 48.833 76.4803C50.8089 76.4803 52.7848 76.4803 54.745 76.4803C55.8741 76.4803 56.3132 76.2137 56.3132 75.0062C56.3132 71.0073 56.2348 66.9928 56.3132 62.9939C56.3132 61.661 55.7957 61.4258 54.6353 61.4258C52.9887 61.5042 51.3264 61.4258 49.6798 61.4258C47.4844 61.4258 47.4687 61.4258 48.2371 59.2617C49.5211 55.5324 51.538 52.0976 54.1692 49.1594C56.8004 46.2212 59.9927 43.8389 63.5582 42.1528C64.8128 41.5412 66.13 41.0864 67.4316 40.5846C67.8456 40.4587 68.2711 40.3746 68.7019 40.3337C68.7019 42.7801 68.7019 45.1167 68.7019 47.4533C68.7019 48.551 69.0626 48.8646 70.1289 48.8489C74.2532 48.8489 78.3775 48.8489 82.5175 48.8489C83.7878 48.8489 83.9603 48.3628 83.9446 47.2808C83.8505 45.0696 83.8975 42.7173 83.8975 40.2083Z"
      ></path>
    </g>

    <path
      class="logoFillBlack red"
      d="M76.3702 80.3224C74.1333 80.3286 71.9448 79.6711 70.0817 78.4332C68.2185 77.1953 66.7645 75.4325 65.9034 73.368C65.0424 71.3035 64.8131 69.0299 65.2445 66.835C65.676 64.6401 66.7488 62.6225 68.3272 61.0375C69.9057 59.4525 71.9188 58.3713 74.1118 57.9307C76.3049 57.4901 78.5794 57.71 80.6475 58.5624C82.7156 59.4148 84.4844 60.8616 85.7301 62.7195C86.9757 64.5775 87.6423 66.7632 87.6454 69.0001C87.6558 70.4859 87.3715 71.959 86.8092 73.3343C86.2468 74.7096 85.4174 75.9598 84.369 77.0126C83.3205 78.0654 82.0738 78.9 80.7008 79.4681C79.3279 80.0362 77.856 80.3265 76.3702 80.3224Z"
    ></path>
  </svg>
</div>
