---
type Props = {};

const {} = Astro.props;
---

<div class="logo werner">
  <svg
    width="276"
    height="138"
    viewBox="0 0 276 138"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="logoFillBlack blueCircle"
      d="M138 92.3346C204.899 92.3346 259.127 81.8748 259.127 69.0001C259.127 56.1253 204.899 45.6655 138 45.6655C71.1017 45.6655 16.874 56.1253 16.874 69.0001C16.874 81.8748 71.1017 92.3346 138 92.3346Z"
    ></path>

    <path
      d="M138 87.6928C187.382 87.6928 227.386 79.3344 227.386 69.0001C227.386 58.6658 187.382 50.3074 138 50.3074C88.6176 50.3074 48.6133 58.6658 48.6133 69.0001C48.6133 79.3344 88.6176 87.6928 138 87.6928Z"
      class="logoFillWhite letters"></path>
    <g class="logoFillBlack background">
      <path
        d="M87.567 78.4091H80.7924L81.9215 66.8987L75.9467 78.4091H69.1565L68.2783 59.5596H75.0999L74.7706 71.1798H74.9274L81.0747 59.5596H87.2063L86.3595 71.3366H86.4379L92.5381 59.5596H99.4067L87.567 78.4091Z"
      ></path>
      <path
        d="M101.618 59.5596H120.107L118.617 64.3582H107.029L106.307 66.7418H116.798L115.387 71.2268H104.896L104.127 73.5634H116.03L114.54 78.4091H95.6436L101.618 59.5596Z"
      ></path>
      <path
        d="M123.714 59.5908H136.949C140.901 59.5908 143.74 61.3942 142.611 65.001C142.236 66.1225 141.596 67.1364 140.744 67.9558C139.891 68.7753 138.853 69.3757 137.718 69.7056C139.412 70.3015 140.054 72.0422 139.537 74.4101C139.093 75.6939 138.912 77.0538 139.004 78.409H132.072C132.046 77.4293 132.168 76.4513 132.433 75.5079C132.794 73.6888 133.202 71.8383 130.457 71.8383H126.741L124.671 78.409H117.739L123.714 59.5908ZM128.027 67.8238H131.727C133.029 67.8238 134.864 67.6199 135.413 65.9263C135.773 64.7188 135.209 64.0288 132.543 64.0288H129.234L128.027 67.8238Z"
      ></path>
      <path
        d="M147.252 59.5596H154.356L157.743 69.643H157.79L160.974 59.5596H167.56L161.617 78.4091H154.842L151.157 68.1062H151.125L147.848 78.4091H141.309L147.252 59.5596Z"
      ></path>
      <path
        d="M171.104 59.5596H189.64L188.104 64.3582H176.562L175.793 66.7418H186.284L184.873 71.2268H174.382L173.645 73.5634H185.563L184.026 78.4091H165.177L171.104 59.5596Z"
      ></path>
      <path
        d="M192.996 59.5908H206.232C210.183 59.5908 213.022 61.3942 211.893 65.001C211.519 66.1225 210.878 67.1364 210.026 67.9558C209.174 68.7753 208.135 69.3757 207 69.7056C208.694 70.3015 209.337 72.0422 208.819 74.4101C208.371 75.7037 208.19 77.0747 208.286 78.4404H201.386C201.376 77.4616 201.498 76.4859 201.747 75.5392C202.107 73.7201 202.515 71.8697 199.771 71.8697H196.023L194 78.409H187.053L192.996 59.5908ZM197.183 67.8238H200.868C202.154 67.8238 204.005 67.6199 204.538 65.9263C204.899 64.7188 204.334 64.0288 201.668 64.0288H198.406L197.183 67.8238Z"
      ></path>
      <path
        d="M211.704 74.3632C211.717 73.8574 211.878 73.3665 212.168 72.9519C212.458 72.5373 212.864 72.2174 213.335 72.0324C213.806 71.8473 214.321 71.8052 214.815 71.9114C215.31 72.0176 215.762 72.2674 216.116 72.6294C216.469 72.9915 216.708 73.4497 216.802 73.9468C216.896 74.4439 216.842 74.9578 216.646 75.4241C216.449 75.8904 216.12 76.2884 215.698 76.5683C215.277 76.8482 214.782 76.9976 214.276 76.9978C213.934 76.9937 213.597 76.9223 213.282 76.7877C212.968 76.653 212.683 76.4578 212.445 76.2132C212.206 75.9685 212.017 75.6793 211.89 75.3618C211.763 75.0444 211.7 74.7051 211.704 74.3632ZM214.276 76.543C214.712 76.5681 215.145 76.4619 215.519 76.2382C215.894 76.0144 216.193 75.6834 216.377 75.288C216.562 74.8925 216.623 74.4509 216.554 74.0201C216.484 73.5894 216.287 73.1894 215.988 72.8718C215.689 72.5543 215.301 72.3339 214.875 72.2391C214.449 72.1443 214.005 72.1795 213.599 72.3402C213.193 72.5008 212.845 72.7795 212.6 73.1402C212.354 73.5009 212.223 73.9269 212.222 74.3632C212.207 74.6428 212.249 74.9226 212.345 75.1855C212.442 75.4484 212.59 75.689 212.782 75.8928C212.975 76.0965 213.206 76.2592 213.463 76.371C213.719 76.4828 213.996 76.5413 214.276 76.543ZM213.759 75.8687H213.272V72.8421H214.402C215.076 72.8421 215.452 73.1244 215.452 73.6889C215.461 73.9026 215.385 74.1112 215.241 74.2696C215.098 74.428 214.897 74.5236 214.684 74.5357L215.531 75.8687H215.045L214.276 74.5357H213.759V75.8687ZM212.222 72.6696C212.598 72.6696 212.959 72.6696 212.959 72.1834C212.959 71.6973 212.63 71.7287 212.316 71.7287H211.704V72.6696H212.222Z"
      ></path>
    </g>
  </svg>
</div>
